*{
    padding: 0px;
    margin: 0px;
    background-color: #F0F2F5;
    
}
@font-face { 
    font-family:  Helvetica, sans-serif; src: url('Fonts\helvetica-255\Helvetica.ttf');
}

    section{
    height: 380px;
}

#log_in_block {
    width: 20%;
    height: 62%;
    float: left;
    padding: 52px 0px 0px 0px;
    margin: 209px 0px 0px 0px;
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
    border-radius: 18px;
}



#logo_and_writting {
    width: 35%;
    height: 100%;
    float: left;
    margin: 16% 44px 0px 143px;
    padding-left: 13%;  
}
p { 
    font-family: Helvetica, sans-serif; 
}
h2 { 
    text-align: center;
    font-family: Helvetica, sans-serif; 
    padding-bottom: 20px;
}
input {
    float: left;
    height: 34px;
    width: -webkit-fill-available;
    text-align: center;
    margin: 5px 27px 0px 36px;
    border-radius: 12px;
    padding: 0px;
}
button {
    text-decoration: none;
    float: left;
    height: 34px;
    width: inherit;
    text-align: center;
    margin: 9px 5px 0px 59px;
    border-radius: 12px;
}

a {
    text-decoration: none;
    float: left;
    padding: 7px 20px;
    background: gainsboro;
    text-align: center;
    margin: 10px 0px 0px 47px;
    border-radius: 12px;
    transition: 0.2s ease;
}
a:hover {
    background: #3ba626;
}

